<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohdma.mobiledevicemanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoLongerAuthorized"></activity>
        <activity android:name=".ViewDocs" />
        <activity android:name=".WriteDocs" />
        <activity android:name=".ViewEmails" />
        <activity android:name=".WriteEmail" />
        <activity android:name=".HomePage" />
        <activity android:name=".VisitBrowser" />
        <activity android:name=".DocsPage" />
        <activity android:name=".EmailPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>